<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Eve Trader</title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'site_index' %}">Home</a></li>
            <li><a href="{% url 'finder:single_type_lookup_view' %}">Single Type Lookup</a></li>
            <li><a href="{% url 'explorer:market_type_list_view' %}">Explorer > Market Types</a></li>
            <li><a href="{% url 'explorer:region_list_view' %}">Explorer > Regions</a></li>
            <li><a href="{% url 'explorer:solar_system_list_view' %}">Explorer > Solar Systems</a></li>
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>
